{% load static %}
<!-- plugins:css -->
<link rel="stylesheet" href="{% static 'admin/staradmin/vendors/feather/feather.css' %}">
<link rel="stylesheet" href="{% static 'admin/staradmin/vendors/mdi/css/materialdesignicons.min.css' %}">
<link rel="stylesheet" href="{% static 'admin/staradmin/vendors/ti-icons/css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'admin/staradmin/vendors/typicons/typicons.css' %}">
<link rel="stylesheet" href="{% static 'admin/staradmin/vendors/simple-line-icons/css/simple-line-icons.css' %}">
<link rel="stylesheet" href="{% static 'admin/staradmin/vendors/css/vendor.bundle.base.css' %}">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet" href="{% static 'admin/staradmin/js/select.dataTables.min.css' %}">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="{% static 'admin/staradmin/css/vertical-layout-light/style.css' %}">
<!-- endinject -->
<link rel="shortcut icon" href="{% static 'admin/staradmin/images/favicon.png' %}"/>


{% block extracss %}
{% endblock %}