<!DOCTYPE html>
<html lang="en">
{% load static i18n %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% trans 'Whats New Manager' %}</title>

  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'css/font-awesome/css/fontawesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/select2.css' %}">

  <link rel="stylesheet" href="{% static 'admin/staradmin/vendors/feather/feather.css' %}">
  <link rel="stylesheet" href="{% static 'admin/staradmin/vendors/mdi/css/materialdesignicons.min.css' %}">
  <link rel="stylesheet" href="{% static 'admin/staradmin/vendors/ti-icons/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin/staradmin/vendors/typicons/typicons.css' %}">
  <link rel="stylesheet" href="{% static 'admin/staradmin/vendors/simple-line-icons/css/simple-line-icons.css' %}">
  <link rel="stylesheet" href="{% static 'admin/staradmin/vendors/css/vendor.bundle.base.css' %}">
  <link rel="stylesheet" href="{% static 'admin/staradmin/js/select.dataTables.min.css' %}">

  <link rel="stylesheet" href="{% static 'admin/staradmin/css/vertical-layout-light/style.css' %}">
  <link rel="shortcut icon" href="{% static 'admin/staradmin/images/favicon.png' %}"/>

  <link rel="stylesheet" href="{% static 'admin/css/admin.css' %}"/>

  {% block extracss %}
  {% endblock %}

</head>
<body>
<div class="container-scroller">
  {% include 'Manager/base_navbar.html' %}

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    {% include 'Manager/base_settings.html' %}

    {% include 'Manager/base_right_sidebar.html' %}
    <!-- partial -->
    <!-- Sidebar -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item {% block home-sidebar-menu %}{% endblock %}">
          <a class="nav-link" href="{% url 'manager-index' %}">
            <i class="menu-icon mdi mdi-home"></i>
            <span class="menu-title">{% trans 'Home' %}</span>
          </a>
        </li>
        <li class="nav-item {% block user-sidebar-menu %}{% endblock %}">
          <a class="nav-link" href="{% url 'manager-users-list' %}">
            <i class="menu-icon mdi mdi-account"></i>
            <span class="menu-title">{% trans 'Users' %}</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End sidebar -->
    <div class="main-panel">
      <div class="content-wrapper">
        <div>
          <h1 class="card-title">
            {% block pagetitle %}
            {% endblock %}
          </h1>
        </div>

        <div class="row">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                {% block breadcrumbs %}
                  <li class="breadcrumb-item" aria-current="page">
                    <a href="{% url 'manager-index' %}"><strong>{% trans 'Home' %}</strong></a>
                  </li>
                {% endblock %}
              </ol>
            </nav>
          </div>
          <div class="col text-right">
            {% block action-area %}
            {% endblock %}
          </div>
        </div>

        <div>
          {% block content %}
          {% endblock %}
        </div>
      </div>
      <!-- content-wrapper ends -->
      <{% include 'Manager/base_footer.html' %}
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery.cookie.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
{#<script src="{% static 'js/select2.js' %}"></script>#}
<script src="{% static 'js/holder.min.js' %}"></script>
<script src="{% static 'js/jquery.inputmask.min.js' %}"></script>

<script src="{% static 'admin/staradmin/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'admin/staradmin/vendors/chart.js/Chart.min.js' %}"></script>
<script src="{% static 'admin/staradmin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
<script src="{% static 'admin/staradmin/vendors/progressbar.js/progressbar.min.js' %}"></script>

<script src="{% static 'admin/staradmin/js/off-canvas.js' %}"></script>
<script src="{% static 'admin/staradmin/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'admin/staradmin/js/template.js' %}"></script>
<script src="{% static 'admin/staradmin/js/settings.js' %}"></script>
<script src="{% static 'admin/staradmin/js/todolist.js' %}"></script>
<script src="{% static 'admin/staradmin/js/file-upload.js' %}"></script>
<script src="{% static 'admin/staradmin/js/typeahead.js' %}"></script>
<script src="{% static 'admin/staradmin/js/select2.js' %}"></script>
<script src="{% static 'admin/staradmin/js/chart.js' %}"></script>
<script src="{% static 'admin/staradmin/js/dashboard.js' %}"></script>
<script src="{% static 'admin/staradmin/js/Chart.roundedBarCharts.js' %}"></script>

<script src="{% static 'admin/js/admin.js' %}"></script>

{% block extrajs %}
{% endblock %}
</body>
</html>

