<!DOCTYPE html>
<html lang="en">
{% load static i18n %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Star Admin2 </title>
  {% include 'Manager/base_css.html' %}
</head>
<body>
<div class="container-scroller">
  <!-- partial:partials/_navbar.html -->
  {% include 'Manager/base_navbar.html' %}

  <!-- partial -->
  <div class="container-fluid page-body-wrapper">
    <!-- partial:partials/_settings-panel.html -->
    {% include 'Manager/base_settings.html' %}

    {% include 'Manager/base_right_sidebar.html' %}
    <!-- partial -->
    <!-- Sidebar -->
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item {% block home-sidebar-menu %}{% endblock %}">
          <a class="nav-link" href="{% url 'manager-index' %}">
            <i class="menu-icon mdi mdi-home"></i>
            <span class="menu-title">{% trans 'Home' %}</span>
          </a>
        </li>
        <li class="nav-item {% block user-sidebar-menu %}{% endblock %}">
          <a class="nav-link" href="{% url 'manager-users-list' %}">
            <i class="menu-icon mdi mdi-account"></i>
            <span class="menu-title">{% trans 'Users' %}</span>
          </a>
        </li>
      </ul>
    </nav>
    <!-- End sidebar -->
    <div class="main-panel">
      <div class="content-wrapper">


        <div class="grid-margin stretch-card">
          <div class="card">

            <div class="card-body">
              <h1 class="card-title">
                {% block pagetitle %}
                {% endblock %}
              </h1>
              <div class="card-description">
                <div class="row">
                  <div class="col">
                    <nav aria-label="breadcrumb">
                      <ol class="breadcrumb">
                        {% block breadcrumbs %}
                          <li class="breadcrumb-item" aria-current="page">
                            <a href="{% url 'manager-index' %}"><strong>{% trans 'Home' %}</strong></a>
                          </li>
                        {% endblock %}
                      </ol>
                    </nav>
                  </div>
                  <div class="col text-right">
                    {% block action-area %}
                    {% endblock %}
                  </div>
                </div>
              </div>
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
      <{% include 'Manager/base_footer.html' %}
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

{% include 'Manager/base_js.html' %}
</body>

</html>

