{% extends 'Manager/base_index.html' %}
{% load i18n %}


{% block content %}
  <div class="grid-margin stretch-card">
    <div class="card">

      <div class="card-body">
        <ul class="nav nav-tabs">
          {% for form in formset %}
            <li class="{% if forloop.first %}active{% endif %}">
              <a class="nav-link" data-toggle="tab"
                 href="#item-{{ form.language_code.value }}">{{ form.language_code.value }}</a>
            </li>
          {% endfor %}
        </ul>
        <form action="" method="post">
          {% csrf_token %}
          <div class="tab-content">
            {% for form in formset %}
              <div id="item-{{ form.language_code.value }}" class="tab-pane {% if forloop.first %}active{% endif %}">
                {{ form.language_code }}
                {{ form.delete }}
                <div class="panel-body">
                  {% for field in form %}
                    <div class="row">
                      {% include "smartadmin/forms/form_field.html" with field=field %}
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          </div>
          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}