{% extends 'Manager/Contacts/contact_base.html' %}
{% load i18n static %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'manager-contact-view' contact.id %}">
      {% trans 'View' %}: {{ contact.id }}
    </a>
  </li>
{% endblock %}

{% block action-area %}
  {% if contact.is_active %}
    <a type="button" class="btn btn-warning btn-md"
       href="{% url "manager-contact-archive" contact.id %}">
      {% trans 'Archive' %}
    </a>
  {% else %}
    <a type="button" class="btn btn-info btn-md"
       href="{% url "manager-contact-restore" contact.id %}">
      {% trans 'Restore' %}
    </a>
  {% endif %}

  <a type="button" class="btn btn-primary btn-md"
     href="{% url 'manager-contact-edit' contact.id %}">{% trans 'Edit' %}</a>
  <a type="button" class="btn btn-success btn-md"
     href="{% url 'manager-contact-list' %}">{% trans 'Back to list' %}</a>
{% endblock %}

{% block content %}
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'ID' %}</label>
            <div class="col-sm-10">
              {{ contact.id|default:'' }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'Link' %}</label>
            <div class="col-sm-10">
              {% include 'Manager/Contacts/contact_type.html' with contact=contact contact_types=contact_types %}
            </div>
          </div>
          {% if contact.icon %}
            <div class="form-group row">
              <label class="col-sm-2">{% trans 'Icon' %}</label>
              <div class="col-sm-10">
                <a href="{{ contact.icon.url }}" target="_blank">{{ contact.icon.url }}</a>
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-2">{% trans 'Icon' %}</label>
              <div class="col-sm-10">
                <img src="{{ contact.icon.url }}" alt="Icon not loaded" width="100">
              </div>
            </div>
          {% endif %}
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'Is active' %}</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-check-input"
                     {% if contact.is_active %}checked="checked"{% endif %} onclick="return false;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}