{% extends 'Manager/base_index.html' %}
{% load i18n %}

{% block pagetitle %}
  {% trans 'Category colors' %}
{% endblock %}

 {% block settings-sidebar-menu %} active {% endblock %}
 {% block settings-sidebar-menu-dropdown %} show {% endblock %}
{% block category-color-sidebar-menu %} active {% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'manager-category-color-list' %}">{% trans 'Category colors' %}</a>
  </li>
{% endblock %}
