{% extends 'Manager/Users/users_base.html' %}
{% load django_tables2 i18n filters %}

{% block breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block action-area %}
{% endblock %}

{% block content %}
  {% url_clean_get request as params %}
  {% with data=table.body.data %}
    {% if data or params %}
      {% include 'smartadmin/table_filter.html' with filter=table.filter %}
      {% if data %}
        <div class="table-responsive">
          {% render_table table.body %}
        </div>
      {% else %}
        {% include 'smartadmin/table_empty.html' %}
      {% endif %}
    {% else %}
      {% include 'smartadmin/table_no_data.html' %}
    {% endif %}
  {% endwith %}
{% endblock %}