{% extends 'Manager/Users/users_base.html' %}
{% load django_tables2 i18n filters %}

{% block breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block action-area %}
{% endblock %}

{% block content %}
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-description">
          <div class="row">
            <div class="col">
              {% url_clean_get request as params %}
              {% with data=table.body.data %}
                {% if data or params %}
                  {% include 'smartadmin/table_filter.html' with filter=table.filter %}
                  {% if data %}
                    <div class="table-responsive">
                      {% render_table table.body %}
                    </div>
                  {% else %}
                    {% include 'smartadmin/table_empty.html' %}
                  {% endif %}
                {% else %}
                  {% include 'smartadmin/table_no_data.html' %}
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}