{% extends 'Manager/UserFeedback/user_feedback_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
{% endblock %}

{% block action-area %}
{% endblock %}

{% block extrajs %}
  <script>
      $(document).ready(function () {
          const processSearch = (params) => {
              return {
                  ...defaultProcessSearch(params),
                  is_staff: true,
              };
          };

          select2RenderField($('#id_admin'), processSearch, null, {}, {dropdownParent: $('#filterForm')});
      });
  </script>
{% endblock %}

{% block content %}
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="card-description">
          <div class="row">
            <div class="col">
              {% include 'smartadmin/tables/table.html' with table=table %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}