{% load widget_tweaks %}

<div class="form-group row {% if field.errors %}has-error{% endif %} {% if field.is_hidden %}d-none{% endif %}">
    <label for="{{ field.id_for_label }}" class="{% if inline_form %}col-sm-2 col-form-label{% endif %}">
        {% if field.field.required %}
            <strong>{{ field.label }}*</strong>
        {% else %}
            {{ field.label }}
        {% endif %}
    </label>

    <div class="{% if inline_form %}col-sm-10{% endif %}">
        {% include 'base_form_render_field.html' %}
    </div>

    {% include 'base_field_error_block.html' %}
</div>
