{% extends 'Manager/AuthorRequest/AuthorRequestComment/author_request_comment_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'manager-author-request-view' author_request.id %}">
      {% trans 'Edit' %}: {{ comment.id }}
    </a>
  </li>
{% endblock %}

{% block action-area %}
  <a type="button" class="btn btn-success btn-md"
     href="{% url 'manager-author-request-comment-view' comment.id %}">{% trans 'View' %}</a>
  <a type="button" class="btn btn-success btn-md"
     href="{% url 'manager-author-request-view' author_request.id %}">{% trans 'Back to list' %}</a>
{% endblock %}

{% block content %}
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        {% include 'smartadmin/forms/form.html' with form=form %}
      </div>
    </div>
  </div>
{% endblock %}