{% extends 'Manager/Category/category_base.html' %}
{% load i18n static %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'manager-category-view' category.id %}">
      {% trans 'Edit' %}: {{ category.name }}
    </a>
  </li>
{% endblock %}

{% block extrajs %}
  <script>
    $(document).ready(function () {
        select2RenderField($('#id_color'));
    });
  </script>
{% endblock %}

{% block content %}
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        {% include 'smartadmin/forms/form.html' with form=form %}
      </div>
    </div>
  </div>
{% endblock %}