{% extends 'Manager/Admins/admins_base.html' %}
{% load i18n %}

{% block breadcrumbs %}
  {{ block.super }}
  <li class="breadcrumb-item" aria-current="page">
    <a href="{% url 'manager-admins-view' admin.id %}">
      {% trans 'View' %}
    </a>
  </li>
{% endblock %}

{% block action-area %}
  <a type="button" class="btn btn-primary btn-md"
     href="{% url 'manager-admins-set-password' admin.id %}">{% trans 'Set password' %}</a>
  <a type="button" class="btn btn-primary btn-md" href="{% url 'manager-admins-edit' admin.id %}">{% trans 'Edit' %}</a>
  <a type="button" class="btn btn-success btn-md" href="{% url 'manager-admins-list' %}">{% trans 'Back to list' %}</a>
{% endblock %}

{% block content %}
  <div class="grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'ID' %}</label>
            <div class="col-sm-10">
              {{ admin.id|default:'' }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'Email' %}</label>
            <div class="col-sm-10">
              <a href="mailto:{{ admin.email }}">{{ admin.email|default:'' }}</a>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'Phone' %}</label>
            <div class="col-sm-10">
              <a href="tel:{{ admin.phone }}">{{ admin.phone|default:'' }}</a>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'First name' %}</label>
            <div class="col-sm-10">
              {{ admin.first_name|default:'' }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'Last name' %}</label>
            <div class="col-sm-10">
              {{ admin.last_name|default:'' }}
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'Is active' %}</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-check-input"
                     {% if admin.is_active %}checked="checked"{% endif %} onclick="return false;">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'Is staff' %}</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-check-input"
                     {% if admin.is_staff %}checked="checked"{% endif %} onclick="return false;">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-2">{% trans 'Is superuser' %}</label>
            <div class="col-sm-10">
              <input type="checkbox" class="form-check-input"
                     {% if admin.is_superuser %}checked="checked"{% endif %} onclick="return false;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}